<div class="container">
  <mat-card>
    <h1>Lee Johnson's Project for Camping World</h1>
    <input type="file" class="hidden" (change)="onFileSelected($event)" accept=".csv" #fileUpload>
    <div class="upload-button">
      <button mat-flat-button color="primary" (click)="clearData()" [disabled]="!data">
        Clear
      </button>
      <button mat-flat-button color="primary" (click)="fileUpload.click()" [disabled]="!!data">
        Upload
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="!!data" class="container">
<app-data-table [camper]="data" [fileName]="fileName"></app-data-table>
</div>

<div *ngIf="!data" class="container">
  <mat-card>
    <h3>No file is uploaded. Please click the Upload Button above.</h3>
  </mat-card>
</div>

